@using HouseUtils.Presentation.Views.Home
@model RegistryViewModel;
@inject Resources R;

@{
    ViewData[R.VIEW_DATA.HAS_SIDEBAR] = true;
}

@section Sidebar {
   <div class="container-fluid d-flex flex-row">
      <ul>
         <li><a>Tags</a></li>
         <li><a>Receitas</a></li>
         <li><a>Recursos</a></li>
      </ul>
   </div>
}
